* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(22, 22, 32);
}

.header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100px;
    background-color: rgb(32, 32, 43);
}
.fab {
    padding-top: 10px;
    padding-left: 30px;
    color: white;
    background-color: rgb(32, 32, 43);
}
.wtf {
    position: fixed;
    display: inline;
    top: 100px;
    left: 200px;
    height: 70px;
    width: 90vw;
    color: white;
    background-color: rgb(22, 22, 32);
}
.search {
    margin-top: 15px;
    padding-left: 10px;
    color: white;
    width: 15vw;
    height: 40px;
    border: solid;
    border-radius: 30px;
    border-color: rgb(71, 65, 119);
    background-color: black;
}
.titles {
    color: white;
    position: fixed;
    display: inline;
    top: 170px;
    left: 200px;
    height: 100px;
    width: 90vw;
    padding-top: 20px;
}
#store {
    display: inline;
    margin-left: 3vw;
}
#product {
    display: inline;
    margin-left: 8vw;
}
#size {
    display: inline;
    margin-left: 10vw;
}
#price {
    display: inline;
    margin-left: 5vw;
}
#status {
    display: inline;
    margin-left: 5vw;
}
#actions {
    display: inline;
    margin-left: 20vw;
}
.taskContainer {
    position: fixed;
    top: 270px;
    left: 200px;
    width: 90vw;
    height: 400px;
    background-color: white;
}
.task {

}
.sidebar {
    position: fixed;
    top: 100px;
    width: 200px;
    height: 90vh;
    background-color: rgb(38, 38, 56);
}
.activeTasks {
    text-align: center;
    margin-top: 30px;
    padding: 9px;
    border: solid;
    border-width: 2px;
    width: 80%;
    height: 120px;
    border-radius: 30px;
    padding-top: 25px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border-color: rgb(71, 65, 119);
}
.counter {

    font-size: 25px;
    width: 80%;
    text-align: center;
    padding-top: 20px;
    color: white;
}
.taskButtons {
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(38, 38, 56);
}
.taskButton {
    color: white;
    width: 80%;
    border-radius: 50px;
    text-align: center;
    margin: 10px;
    padding: 9px;
    border: solid;
    border-width: 2px;
    margin-left: auto;
    margin-right: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
.taskButton:hover {
    cursor: pointer;
    box-shadow: 0 0 2px;
    background-color: rgb(93, 93, 119);
}
#createTask {
    border-color: rgb(38, 100, 68);
}
#clearTask {
    border-color: rgb(124, 53, 55);
}
#startTask {
    margin-top: 25px;
    border-color: rgb(38, 100, 68);
}
#stopTask {
    border-color: rgb(124, 53, 55);
}
#editTask {
    margin-top: 25px;
    border-color: rgb(71, 65, 119);
}
#captcha {
    border-color: rgb(71, 65, 119);
}
.system {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 25px;
    font-size: 15px;
    padding-top: 5px;
    padding-left: 10px;
    background-color: rgb(32, 32, 43);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.version {
    color: white;
    grid-column: 1;
    text-align: left;
    padding-right: 10px;
    background-color: rgb(32, 32, 43);
}
#time_span {
    color: white;
    grid-column: 2;
    text-align: right;
    padding-right: 10px;
    background-color: rgb(32, 32, 43);
}